# Data files
data/raw/**/*
data/processed/**/*
!data/raw/**/README.md
!data/processed/**/README.md

# Results
results/**/*.npy
results/**/*.mat

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
